@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.list h1 {
    color: #fff;
}

body {
    background-image: linear-gradient(0deg , #4c7c53, #335538, #2d493e);
    background-attachment: fixed;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list {
    margin-top: 40px;
    background-color: #255ca5;
    border-radius: 10px;
    box-shadow: 0px 0px 13px #000a;
    padding: 10px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px;
}

ul {
    padding: 10px;
    padding-left: 2rem;
}

.list-itens {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 13px #000a;;

}

.create-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}